.top-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 3;
    position: absolute;
}

.top-header__logo{
    font-weight: 700;
    font-size: 1.8rem;
    color: #377eff;
}