.top-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    z-index: 3;
    position: absolute;
}

.top-header__logo{
    font-weight: 700;
    font-size: 1.8rem;
    color: #377eff;
}

.top-header__nav a{
    font-weight: 300;
    font-size: 1.1rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    background: #377eff;
    padding: 10px 30px;
}

.main-page{
    background-color: #f1f5fe;
    height: 100vh;
    overflow: hidden;
    display: flex;
}